* {
  color: #261c1c;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
  width: 100dvw;
  padding: 14px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  background-color: #add9d9;
}

.name {
  padding: 0;
  /* float: left; */
  margin-right: 6px;
}

ul {
  /* float: right; */
  list-style-type: none;
  display: flex;
  justify-content: center;
  max-width: 80dvw;
  gap: 24px;
  margin: 0;
  padding: 0;
}

li {
  font-size: 16px;
  text-align: center;
  text-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.btn-menu {
  display: none;
}

@media screen and (max-width: 600px) {
  ul {
    display: none;
    /* opacity: 0;
    transform: scaleY(0);
    height: 0; */
    /* height: 0; */
  }
  /* li {
    display: none;
  } */
  .btn-menu {
    display: contents;
    margin: 0;
    padding: 0;
  }
  li,
  .active-list {
    height: auto;
    opacity: 1;
    display: block;
    box-sizing: border-box;
    width: 100dvw;
    text-align: left;
    /* transform: scaleY(1);
    transition: transform 0.3s ease-out; */
  }
}
